@charset "UTF-8";
/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/
:root {
    --cor-fundo: #5f2c82;
    --cor-botão: #49a09d;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body, html {
    background-color: var(--cor-fundo);
    height: 100vh;
    width: 100vw;
    
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    background-color: white;
    position: absolute;
    background-color: white;
    margin: auto;
    width: 250px;
    height: 510px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.453);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    background: var(--cor-fundo) url(../imagens/universo.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}
#formulario {
    padding: 10px;
    display: block;
}
#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}
#formulario p {
    font-size: 0.8em;
    text-align: justify;
    line-height: 17px;
}
form > div.campo {
    display: block;
    background-color: var(--cor-fundo);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
form label  {
    display: none;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-botão);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #2d6462;
}
#esqueci-a-senha {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid var(--cor-botão);
    text-decoration: none;
    border-radius: 7px;
}
#esqueci-a-senha:hover {
    background-color: #65d7d4;
}
form > a.botão > span {
    font-size: 0.8em;
}